In [1]:
s="PW Skills"

In [2]:
type(s)

str

In [3]:
mylist = ["MANGO","LICHI","BANANA","APPLE"]

In [4]:
type(mylist)

list

In [5]:
f=55.43

In [6]:
type(f)

float

In [7]:
# A tuple is a collection which is ordered and unchangeable

In [8]:
mytuple = ("apple", "banana", "cherry")

In [9]:
type(mytuple)

tuple

In [11]:
#Q2. Given are some following variables containing data:

#(i)	var1 = ‘ ‘

#(ii)	var2 = ‘[ DS , ML , Python]’

#(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

#(iv)	var4 = 1.
#What will be the data type of the above given variable.

In [12]:
#(i)

In [13]:
var1 = ''

In [14]:
type(var1)

str

In [15]:
var2 = '[ DS , ML , Python]'

In [16]:
type(var2)

str

In [19]:
var3 = [ 'DS' , 'ML' , 'Python']

In [18]:
type(var3)

list

In [22]:
var4 = 1.

In [23]:
type(var4)

float

In [24]:
#Q3. Explain the use of the following operators using an example:

#(i)	/

#(ii)	% 

#(iii)	//

#(iv)	**

In [25]:
#(i) Use of this operator	/

In [26]:
d = 44 / 4

In [27]:
d

11.0

In [28]:
# /	a / b	Division	Quotient when a is divided by b.
#The result always has type float.

In [29]:
#(ii) Use of this operator	%

In [30]:
#%	a % b	Modulo	Remainder when a is divided by b

In [31]:
m = 44 % 5

In [32]:
m

4

In [33]:
#(iii) Use of this operator	//

In [34]:
#//	a // b	Floor Division (also called Integer Division)	Quotient when a is divided by b, rounded to the next smallest whole number

In [37]:
d = 10 / 4

In [38]:
d

2.5

In [41]:
r = 10 // 4

In [42]:
r

2

In [43]:
#(iv) Use of this operator	**

In [44]:
#**	a ** b	Exponentiation	a raised to the power of b

In [45]:
e = 3 ** 2

In [46]:
e

9

In [47]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [94]:
my_list = [42, "Hello", 3.14, True, [1, 2, 3], {"name": "John", "age": 30}, None, (1, 2, 3), False, 7.77]

# Using a for loop to print each element and its data type
for element in my_list:
    print(f"{element}: {type(element)}")

42: <class 'int'>
Hello: <class 'str'>
3.14: <class 'float'>
True: <class 'bool'>
[1, 2, 3]: <class 'list'>
{'name': 'John', 'age': 30}: <class 'dict'>
None: <class 'NoneType'>
(1, 2, 3): <class 'tuple'>
False: <class 'bool'>
7.77: <class 'float'>

In [95]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [110]:
def find_divisions(A, B):
    count = 0
    while A >= B:
        A -= B
        count += 1
    return count

# Test values
number_A = 42
number_B = 7

# Check if number A is purely divisible by number B
if number_A % number_B == 0:
    times_divisible = find_divisions(number_A, number_B)
    print(f"{number_A} is purely divisible by {number_B}.")
    print(f"It can be divided {times_divisible} times.")
else:
    print(f"{number_A} is not purely divisible by {number_B}.")

42 is purely divisible by 7.
It can be divided 6 times.

In [97]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

In [109]:
my_list = [9, 12, 7, 36, 15, 20, 30, 42, 18, 21, 8, 25, 33, 27, 14, 16, 22, 6, 10, 39, 4, 28, 31, 45, 17]

# Using a for loop and if-else condition to check divisibility by 3
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

9 is divisible by 3.
12 is divisible by 3.
7 is not divisible by 3.
36 is divisible by 3.
15 is divisible by 3.
20 is not divisible by 3.
30 is divisible by 3.
42 is divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
8 is not divisible by 3.
25 is not divisible by 3.
33 is divisible by 3.
27 is divisible by 3.
14 is not divisible by 3.
16 is not divisible by 3.
22 is not divisible by 3.
6 is divisible by 3.
10 is not divisible by 3.
39 is divisible by 3.
4 is not divisible by 3.
28 is not divisible by 3.
31 is not divisible by 3.
45 is divisible by 3.
17 is not divisible by 3.

In [99]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [100]:
#Mutable and immutable are two fundamental concepts related to data types in programming languages. These concepts refer to whether the values of a data type can be changed after they are created.

In [101]:
#Immutable Data Types:
#Immutable data types are those whose values cannot be modified after they are created. 
#Any operation that appears to modify an immutable object actually creates a new object with the updated value. 
#Immutable objects are typically more reliable and safe to use in multithreaded environments because they cannot be changed by multiple threads simultaneously.
#Examples of immutable data types in Python:

#int (integer)
#float (floating-point number)
#str (string)
#tuple

In [108]:
a = 5
b = "Hello"
c = (1, 2, 3)

# Trying to modify the immutable objects
a = 10  
b = b + " World"  
c = c + (4,)  

print(a) 
print(b) 
print(c)

10
Hello World
(1, 2, 3, 4)

In [103]:
#Mutable Data Types:
#Mutable data types are those whose values can be modified after they are created. 
#This means you can change the content or elements of a mutable object without creating a new object with each modification. 
#However, keep in mind that changes to mutable objects can lead to unexpected behavior if not handled properly in different parts of the code.
#Examples of mutable data types in Python:

#list
#dict (dictionary)
#set

In [106]:
list_a = [1, 2, 3]
dict_a = {"name": "John", "age": 30}
set_a = {4, 5, 6}

# Modifying the mutable objects
list_a.append(4) 
dict_a["age"] = 31 
set_a.add(7)  

print(list_a) 
print(dict_a)  
print(set_a)

[1, 2, 3, 4]
{'name': 'John', 'age': 31}
{4, 5, 6, 7}