Mysql Assignment

Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans - A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and updating of information.

There are two main types of databases: SQL (Structured Query Language) databases and NoSQL databases.

Here's a differentiation between the two:

SQL Databases:

Structured Query Language (SQL): SQL databases use a standardized query language called SQL to define and manipulate the data. SQL is a powerful language for managing relational databases.

Schema: SQL databases are schema-based, meaning the structure of the data (tables, columns, and relationships) is defined beforehand. Changes to the schema can be complex and may require downtime.

Table Structure: Data is typically organized into tables with predefined columns and data types. Relationships between tables are established using foreign keys.

Scalability: SQL databases are generally vertically scalable, meaning you can increase the capacity of a single server by increasing things like CPU, RAM, or SSD.

Examples: MySQL, PostgreSQL, Oracle, Microsoft SQL Server.

NoSQL Databases:

Not Only SQL (NoSQL): NoSQL databases are designed to handle unstructured, semi-structured, or structured data and provide more flexibility in terms of data models.

Schema-less or Dynamic Schema: NoSQL databases are schema-less or have a dynamic schema, allowing you to insert data without a predefined structure. This flexibility is beneficial for applications with evolving or unpredictable data.

Data Models: NoSQL databases support various data models, such as document-oriented (like MongoDB), key-value stores (like Redis), wide-column stores (like Cassandra), and graph databases (like Neo4j).

Scalability: NoSQL databases are often horizontally scalable, allowing you to add more servers to your NoSQL database to handle larger loads.

Examples: MongoDB, Cassandra, Redis, Neo4j.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans - DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used for defining and managing the structure of a relational database.

1 - CREATE:

Purpose: The CREATE command is used to create new database objects, such as tables, indexes, or views.

In [ ]:
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department_id INT
);

2 - DROP:

Purpose: The DROP command is used to delete existing database objects, such as tables, indexes, or views.

In [ ]:
DROP TABLE employees;

3 - ALTER:

Purpose: The ALTER command is used to modify the structure of an existing database object, such as adding, modifying, or deleting columns in a table.

In [ ]:
ALTER TABLE employees
ADD COLUMN email VARCHAR(100);

4 - TRUNCATE:

Purpose: The TRUNCATE command is used to remove all rows from a table while retaining the table structure for future use. It is faster than the DELETE command for removing all data from a table.

In [ ]:
TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans - DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating and interacting with the data stored in a relational database. DML commands include INSERT, UPDATE, and DELETE, and they are responsible for adding, modifying, and deleting data within the database tables.

Here are explanations and examples for the DML commands INSERT, UPDATE, and DELETE:

1 - INSERT:

Purpose: The INSERT command is used to add new records (rows) into a table.

In [ ]:
INSERT INTO employees (employee_id, first_name, last_name, department_id)
VALUES (1, 'John', 'Doe', 101);

2 - UPDATE:

Purpose: The UPDATE command is used to modify existing records in a table based on a specified condition.

In [ ]:
UPDATE employees
SET department_id = 102
WHERE employee_id = 1;

3 - DELETE:

Purpose: The DELETE command is used to remove records from a table based on a specified condition.

In [ ]:
DELETE FROM employees
WHERE employee_id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) specifically designed for querying and retrieving data from a relational database. The primary DQL command is SELECT, which is used to retrieve data from one or more tables in a database.

SELECT:

Purpose: The SELECT command is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, apply conditions, and sort the results.

Syntax:

In [ ]:
SELECT column1, column2, ...
FROM table_name
WHERE condition;

Example:

In [ ]:
SELECT employee_id, first_name, last_name, salary
FROM employees
WHERE salary > 50000;

Q5. Explain Primary Key and Foreign Key.

Ans - 

Primary Key:
A primary key is a field or a set of fields in a database table that uniquely identifies each record in that table. It serves as a unique identifier and must have a unique value for each record.

Key characteristics of a primary key:

Uniqueness: Every value in the primary key column(s) must be unique within the table.

Non-nullability: The primary key column(s) cannot have NULL values.

Permanence: The values in the primary key should ideally be permanent and not changeable.

In [ ]:
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT
);

Foreign Key:
A foreign key is a field in a relational database table that is used to establish a link between two tables. It creates a relationship between the tables by referencing the primary key of another table. 

The table containing the foreign key is called the referencing or child table, while the table containing the primary key being referenced is called the referenced or parent table.

Key characteristics of a foreign key:

Referential Integrity: The foreign key establishes referential integrity between tables, ensuring that values in the foreign key column(s) correspond to existing values in the primary key column(s) of the referenced table.

Relationships: Foreign keys are used to define relationships between tables, typically representing associations or dependencies.

Example:

In [ ]:
CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100)
);

CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    order_date DATE,
    customer_id INT,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
);

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

First, you need to install the library if you haven't already:

In [ ]:
pip install mysql-connector-python

Now, you can use the following Python code to connect to MySQL and execute a simple query:

In [ ]:
import mysql.connector

# Replace the placeholder values with your MySQL server details
host = "your_mysql_host"
user = "your_username"
password = "your_password"
database = "your_database_name"

# Establish a connection to the MySQL server
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

# Create a cursor object to interact with the MySQL database
cursor = connection.cursor()

# Example query: Create a table
create_table_query = """
CREATE TABLE IF NOT EXISTS example_table (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    age INT
)
"""

# Execute the query
cursor.execute(create_table_query)

# Commit the changes to the database
connection.commit()

# Close the cursor and connection
cursor.close()
connection.close()

1 - cursor() Method:

The cursor() method creates a cursor object, which is used to interact with the MySQL database. The cursor allows you to execute SQL queries and fetch results.

In [ ]:
cursor = connection.cursor()

2 - execute() Method:

The execute() method is used to execute a SQL query. It takes a SQL query as a parameter and executes it.

In [ ]:
cursor.execute(create_table_query)

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans - In a typical SQL query, the clauses are executed in the following order:

1 - SELECT: The SELECT clause is used to specify the columns that should be retrieved in the result set. It is the first clause to be executed.

2 - FROM: The FROM clause specifies the table or tables from which the data should be retrieved. After the SELECT clause, the database engine determines the source of the data.

3 - JOIN: If the query involves multiple tables, the JOIN clause is used to combine rows from different tables based on a related column between them.

WHERE: The WHERE clause is used to filter the rows that satisfy a given condition. It is applied after the data is retrieved from the tables specified in the FROM clause.

GROUP BY: The GROUP BY clause is used to group rows based on the values in one or more columns. It is often used in conjunction with aggregate functions like SUM, COUNT, AVG, etc.

HAVING: The HAVING clause filters the results of the GROUP BY clause based on a specified condition. It is similar to the WHERE clause but is used specifically with aggregated data.

SELECT (again): Additional columns or expressions can be selected after the initial SELECT clause. This can include calculated values, aliases, or other expressions.

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns, either in ascending (ASC) or descending (DESC) order.

LIMIT/OFFSET (optional): The LIMIT clause is used to restrict the number of rows in the result set, and the OFFSET clause is used to skip a specific number of rows. These are often used for pagination or to limit the amount of data returned.