# Pandas Assignment

In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [6]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans  - 

In pandas, both loc and iloc are used for indexing and selecting data from a DataFrame, but they operate differently:

1)  'iloc' : This is integer-location based indexing. It is used when you want to access elements in the DataFrame by their integer index position. You specify row and column positions by integers.

Example:

In [8]:
df.iloc[1]  # Accesses the second row of the DataFrame

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

2) 'loc' : This is label-based indexing. It is used when you want to access elements in the DataFrame using labels (row or column names). You specify row and column labels.

Example:

In [7]:
df.loc[1]  # Accesses the row with label '1' (if '1' is a label, not an integer index)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# In summary:

Use 'iloc' when you want to access data by integer position.

Use 'loc' when you want to access data by lab.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [9]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Reindexing the DataFrame
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

# Finding the output for new_df.loc[2] and new_df.iloc[2]
output_loc = new_df.loc[2]
output_iloc = new_df.iloc[2]

print("Output for new_df.loc[2]:\n", output_loc)
print("\nOutput for new_df.iloc[2]:\n", output_iloc)

Output for new_df.loc[2]:
 course_name    Big Data
duration              6
Name: 2, dtype: object

Output for new_df.iloc[2]:
 course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Explanation :

new_df.loc[2] returns the row with the label '2' after reindexing, which corresponds to the row with the label '1' in the original DataFrame.


new_df.iloc[2] returns the third row after reindexing, which corresponds to the row with the label '2' in the original DataFrame.

In [12]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [13]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.686886  0.094716  0.402434  0.577472  0.960514  0.859015
2  0.106215  0.396810  0.830206  0.289648  0.645479  0.216544
3  0.853741  0.772758  0.389801  0.078194  0.487857  0.047570
4  0.798157  0.818589  0.116163  0.626571  0.226400  0.413636
5  0.808298  0.936634  0.213001  0.439226  0.449969  0.033060
6  0.250605  0.315517  0.303283  0.138280  0.072246  0.167113

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [16]:
import pandas as pd


columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
# Creating a dataframe
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# (i) Mean of each and every column
mean_of_columns = df1.mean()
print("Mean of each column:")
print(mean_of_columns)

# (ii) Standard deviation of column 'column_2'
std_dev_column_2 = df1['column_2'].std()
print("\nStandard deviation of column 'column_2':", std_dev_column_2)

Mean of each column:
column_1    0.533509
column_2    0.395959
column_3    0.735575
column_4    0.569776
column_5    0.275939
column_6    0.586976
dtype: float64

Standard deviation of column 'column_2': 0.3584447078634718

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [ ]:
mport pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a dataframe
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Replace the data in the second row of 'column_2' with a string variable
df1.loc[2, 'column_2'] = 'some_string_data'

# Find the mean of column 'column_2'
# This will throw an error because the column contains mixed data types (numeric and string)
mean_column_2 = df1['column_2'].mean()

print("Mean of column 'column_2':", mean_column_2)


When you replace the data in a numeric column with a string value, you'll likely encounter errors because pandas DataFrame columns typically contain data of a consistent data type (such as numeric or string), and mixing data types within a single column can cause unexpected behavior.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, window functions are used for calculating aggregate statistics (like mean, sum, min, max, etc.) over a specified window of data points. These functions operate on a sliding window of data, where the window can be defined by various parameters such as size, alignment, and offset.

Window functions are particularly useful for time series data analysis, but they can also be applied to other types of data.

Types of window functions in pandas include:

1) Rolling Window Functions: These functions calculate statistics over a rolling window of a fixed size. The window moves along the data, and for each step, the statistic is calculated over the data points within the window.

2) Expanding Window Functions: Expanding window functions calculate statistics for all data points up to the current point. The size of the window grows with the number of data points, starting from the beginning of the data.

3) Exponential Weighted Moving Average (EWMA): This is a type of rolling window function that assigns exponentially decreasing weights to older data points. It is useful for smoothing noisy data or detecting trends.

4) Window Aggregation Functions: These functions aggregate data within a window using custom aggregation functions defined by the user.

5) GroupBy with Window Functions: These are window functions applied within each group of a grouped DataFrame, allowing for calculations within subsets of the data.

Q7. Write a code to print only the current month and year at the time of answering this question.

In [18]:
from datetime import datetime

# Get the current date
current_date = datetime.now()

# Extract the month and year from the current date
current_month = current_date.strftime("%B")  # %B gives full month name (e.g., January)
current_year = current_date.strftime("%Y")   # %Y gives the year (e.g., 2024)

# Print the current month and year
print("Current month:", current_month)
print("Current year:", current_year)

Current month: March
Current year: 2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [19]:
import pandas as pd

# Function to calculate the difference between two dates
def calculate_time_difference(date1, date2):
    # Convert input dates to pandas datetime objects
    date1 = pd.to_datetime(date1)
    date2 = pd.to_datetime(date2)
    
    # Calculate the time difference
    time_diff = date2 - date1
    
    # Extract days, hours, and minutes
    days = time_diff.days
    hours = time_diff.seconds // 3600
    minutes = (time_diff.seconds % 3600) // 60
    
    return days, hours, minutes

# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Calculate the time difference
days_diff, hours_diff, minutes_diff = calculate_time_difference(date1, date2)

# Display the result
print("Time difference between", date1, "and", date2, "is:")
print("Days:", days_diff)
print("Hours:", hours_diff)
print("Minutes:", minutes_diff)

Enter the first date (YYYY-MM-DD):  2024-03-22
Enter the second date (YYYY-MM-DD):  2023-10-10

Time difference between 2024-03-22 and 2023-10-10 is:
Days: -164
Hours: 0
Minutes: 0

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Function to read CSV file and convert specified column to categorical data type
def convert_to_categorical(file_path, column_name, category_order):
    # Read CSV file
    df = pd.read_csv(file_path)
    
    # Convert specified column to categorical data type
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    
    # Display sorted data
    sorted_data = df.sort_values(by=column_name)
    print("Sorted data:")
    print(sorted_data)

# Prompt the user to enter file path, column name, and category order
file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the name of the column to convert to categorical data type: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

# Call the function to convert and display sorted data
convert_to_categorical(file_path, column_name, category_order)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Function to read CSV file and visualize sales data using stacked bar chart
def visualize_sales_data(file_path):
    # Read CSV file
    df = pd.read_csv(file_path)
    
    # Convert the 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Set 'Date' column as index
    df.set_index('Date', inplace=True)
    
    # Group by product category and resample by month, summing the sales
    sales_data = df.groupby('Product Category').resample('M').sum()
    
    # Pivot the data to prepare for stacked bar chart
    sales_pivot = sales_data.reset_index().pivot(index='Date', columns='Product Category', values='Sales')
    
    # Plot the stacked bar chart
    sales_pivot.plot(kind='bar', stacked=True, figsize=(10, 6))
    
    # Add labels and title
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.title('Sales of Each Product Category Over Time')
    
    # Show the chart
    plt.show()

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

# Call the function to visualize sales data
visualize_sales_data(file_path)